{
     "semi": true,
     "singleQuote": true,
     "tabWidth": 5,
     "trailingComma": "es5",
     "printWidth": 300,
     "bracketSpacing": true,
     "jsxBracketSameLine": false,
     "htmlWhitespaceSensitivity": "css",
     "arrowParens": "always",
     "endOfLine": "auto",
     "proseWrap": "preserve"
}
